@model List<Project> 


@{
    ViewData["Title"] = "Projektsida";
}
<a asp-action="AddProject"><button>Skapa nytt projekt</button></a>

<table class="table">
    <thead>
    <td>Titel</td>
        <td>Beskrivning</td>
        <td>Startdatum</td>
        <td>Slutdatum</td>
        <td>Skapad av</td>
        <td>Deltagare</td>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td><a class="link-id" asp-controller="Project" asp-action="ProjectInfo" asp-route-projectID="@project.ProjectID">@project.Titel</a></td>
                <td>@project.Description</td>
                <td>@project.StartDate</td>
                <td>@project.EndDate</td>
                <td>@project.user.Firstname @project.user.Lastname</td>
                <td>
                @foreach (var uip in project.UsersInProject){
                        @if (!User.Identity.IsAuthenticated)
                        {
                            @if (uip.User.PublicSetting == true)
                            {
                                @uip.User.Firstname @(" ") @uip.User.Lastname @(", ")
                            }
                        }
                        else
                        {
                            @uip.User.Firstname @(" ") @uip.User.Lastname @(", ")
                        }


                }

                </td>
            </tr>
        }
    </tbody>
</table>