@model Project

@{
    bool isUserInProject = Model.UsersInProject.Any(uip => uip.User.UserName == User.Identity.Name);
}

@{
    ViewData["Title"] = "Projekt info";
}


<table class="table">
    <thead>
        <td>Titel</td>
        <td>Beskrivning</td>
        <td>Startdatum</td>
        <td>Slutdatum</td>
        <td>Skapad av</td>
        <td>Deltagare</td>
    </thead>
    <tbody>

        <tr>
            <td>@Model.Titel</td>
            <td>@Model.Description</td>
            <td>@Model.StartDate</td>
            <td>@Model.EndDate</td>
            <td>@Model.user.Firstname @Model.user.Lastname</td>
            <td> 
                @foreach (var uip in @Model.UsersInProject){
                    @if (!User.Identity.IsAuthenticated)
                    {
                        @if (uip.User.PublicSetting == true)
                        {
                            @uip.User.Firstname @(" ") @uip.User.Lastname @(", ")
                        }
                    }
                    else
                    {
                        @uip.User.Firstname @(" ") @uip.User.Lastname @(", ")
                    }
                }

            </td>


        </tr>

    </tbody>
</table>

@if (User.Identity.Name == Model.user.UserName)
{
    <div asp-validation-summary="All" class="text-danger"></div>

    <h2>Redigera projektet: </h2>

    <form class="border border-dark" asp-action="EditProject" method="post">
        <label>Titel: </label>
        <input name="pTitel" asp-for="Titel" />
        <br />
        <label>Beskrivning: </label>
        <input name="pDescription" asp-for="Description" />
        <br />
        <label>Startdatum: </label>
        <input type="date" name="pStartDate" asp-for="StartDate" />
        <br />
        <label>Slutdatum: </label>
        <input type="date" name="pEndDate" asp-for="EndDate" />
        <br />
        <input type="hidden" name="pCreatorID" value="1" />
        <br />
        <br />
        <input type="hidden" name="pID" value="@Model.ProjectID" />
        <br />
        <button type="submit">Spara ändringar</button>
    </form>
    
}
else {
    

@if (isUserInProject)
{
    <form asp-controller="Project" asp-action="LeaveProject" method="post">
        <input type="hidden" name="projectID" value="@Model.ProjectID" />
        <button type="submit">Gå ur</button>
    </form>
}
else
{
    <form asp-controller="Project" asp-action="JoinProject" method="post">
        <input type="hidden" name="projectID" value="@Model.ProjectID" />
        <button type="submit">Gå med</button>
    </form>
}

    @* foreach (var uip in Model.UsersInProject)
    {
        @if (User.Identity.Name == uip.User.UserName){
            <form asp-controller="Project" asp-action="LeaveProject" method="post">
                <input type="hidden" name="projectID" value="@Model.ProjectID" />
                <button type="submit">Gå ur</button>
            </form>
            break;

        }
        else{
            <form asp-controller="Project" asp-action="JoinProject" method="post">
                <input type="hidden" name="projectID" value="@Model.ProjectID" />
                <button type="submit">Gå med</button>
            </form>
            break;

        }
    } *@
}


