@model List<User>

@{
    ViewData["Title"] = "Startsida";
}
@{
    int loop5ggr = 1;
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>


</div>

<h2 class="text-center" style="margin-top: 30px;">Utvalda CVn:</h2>
<div class="d-md-inline-flex text-center ms-3 mx-3">
    @if (Model == null || !Model.Any())
    {
        <p>Finns inga CV</p>
    }
    else
    {
        @* CV firstCV = Model.FirstOrDefault();
        if (firstCV == null){
            <p>Finns inga CV att ta del av.</p>
        }
        else{ *@

        foreach(User user in Model){
            //Vi fick inte sql-queryn att alltid plocka ut 5 CV. Vi löste det genom att plocka ut 6 cv i sql-queryn och sen bara loopa igenom den 5ggr.
            //Om det inte går att visa 5 cvn (för att det inte finns tillräckligt med cvn eller användaren är privat/inaktiv) så visas bara så många som går
            if (loop5ggr < 6){


                if (user.UserName == User.Identity.Name)
                {

                }
                else if (user.IsActive == false)
                {

                }
                else if (!User.Identity.IsAuthenticated && user.PublicSetting == false)
                {

                }
                else if (user.CV == null){

                }
                else
                {
                    <div class="border mx-3 ms-3 shadow" style="width: 220px; padding: 0.5rem;">
                        <img style="width: 200px; height: 200px; border-radius: 50%;" src="@user.ProfilePicturePath" alt="Alternate Text" />
                        <br />
                        <label style="font-weight: 600;">Användare: </label>
                        @if (user != null)
                        {
                            <p>@user.Firstname @(" ") @user.Lastname</p>
                        }

                        <label style="font-weight: 600;">Titel: </label>
                        <p>@user.CV.Header</p>

                        <label style="font-weight: 600;">Innehåll: </label>
                        <p>@user.CV.Content</p>

                        <label style="font-weight: 600;">Tidigare erfarenheter: </label>
                        <p>@user.CV.PreviousExperience</p>

                        <label style="font-weight: 600;">Utbildning: </label>
                        <p>@user.CV.Education</p>

                        <label style="font-weight: 600;">Kompetenser: </label>
                        <p>@user.CV.Competence</p>

                        <a asp-controller="Account" asp-action="OtherProfile" asp-route-searchUser="(@user.UserName)"><button class="btn btn-outline-primary">Visa profil</button></a>

                    </div>
                    loop5ggr++;
                }
            }

        }
        @* } *@
    }
</div>

<h2 style="margin-top: 30px; text-align: center;">Senaste projektet: </h2>
<div>
    @if (Model == null || !Model.Any())
    {
        <p style="font-weight: 600;">Finns inga projekt att ta del av</p>
    }
    else
    {
        Project firstProject = null;

        foreach(User user in Model){
            foreach(Project projet in user.Projects){
                firstProject = projet;
            }
       }


        if (firstProject == null)
        {
            <p>Finns inga projekt att ta del av.</p>
        }
        else
        {
        int highestID = 0;
        Project latestProject = null;
        @foreach (User user in Model)
        {

            foreach(Project project in user.Projects)
            {
                
                if (project.ProjectID > highestID)
                {
                    highestID = project.ProjectID;
                    latestProject = project;
                }
                
            }
        }
        <div class="border shadow text-center" style="padding: 0.5rem;">
            <label style="font-weight: 600;">Titel: </label>
        <p>@latestProject.Titel</p>
            <label style="font-weight: 600;">Beskrivning: </label>
        <p>@latestProject.Description</p>
            <label style="font-weight: 600;">Startdatum: </label>
        <p>@latestProject.StartDate</p>
            <label style="font-weight: 600;">Slutdatum: </label>
        <p>@latestProject.EndDate</p>
            <a asp-controller="Project" asp-action="ProjectInfo" asp-route-projectID="@latestProject.ProjectID"><button class="btn btn-outline-primary">Visa projektet</button></a>
        </div>
        }
    }

</div>


   




