@model List<CV>

@{
    ViewData["Title"] = "Startsida";
}
@{
    int loop5ggr = 0;
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>


</div>

<h2 class="text-center" style="margin-top: 30px;">Utvalda CVn:</h2>
<div class="d-md-inline-flex text-center ms-3 mx-3">
    @if (Model == null || !Model.Any())
    {
        <p>Finns inga CV</p>
    }
    else
    {
        CV firstCV = Model.FirstOrDefault();
        if (firstCV == null){
            <p>Finns inga CV att ta del av.</p>
        }
        else{

        
        @foreach (CV cV in Model)
        {
            //Vi fick inte sql-queryn att alltid plocka ut 5 CV. Vi löste det genom att plocka ut 6 cv i sql-queryn och sen bara loopa igenom den 5ggr.
            //Om det inte går att visa 5 cvn (för att det inte finns tillräckligt med cvn eller användaren är privat/inaktiv) så visas bara så många som går
            if (loop5ggr < 6){


                if (cV.Users.UserName == User.Identity.Name)
                {

                }
                else if (cV.Users.IsActive == false)
                {

                }
                else if (!User.Identity.IsAuthenticated && cV.Users.PublicSetting == false)
                {

                }
                else
                {
                    <div class="border mx-3 ms-3 shadow" style="width: 220px; padding: 0.5rem;">
                        <img style="width: 200px; height: 200px; border-radius: 50%;" src="@cV.Users.ProfilePicturePath" alt="Alternate Text" />
                        <br />
                        <label style="font-weight: 600;">Användare: </label>
                        @if (cV.Users != null)
                        {
                            <p>@cV.Users.Firstname @(" ") @cV.Users.Lastname</p>
                        }

                        <label style="font-weight: 600;">Titel: </label>
                        <p>@cV.Header</p>

                        <label style="font-weight: 600;">Innehåll: </label>
                        <p>@cV.Content</p>

                        <label style="font-weight: 600;">Tidigare erfarenheter: </label>
                        <p>@cV.PreviousExperience</p>

                        <label style="font-weight: 600;">Utbildning: </label>
                        <p>@cV.Education</p>

                        <label style="font-weight: 600;">Kompetenser: </label>
                        <p>@cV.Competence</p>

                        <a asp-controller="Account" asp-action="OtherProfile" asp-route-searchUser="(@cV.Users.UserName)"><button class="btn btn-outline-primary">Visa profil</button></a>

                    </div>
                    loop5ggr++;
                }
            }
            }
    }
}
</div>

<h2 style="margin-top: 30px; text-align: center;">Senaste projektet: </h2>
<div>
    @if (Model == null || !Model.Any())
{
        <p style="font-weight: 600;">Finns inga CV</p>
    }
    else
    {
        int highestID = 0;
        Project latestProject = null;
        @foreach (CV cV in Model)
        {

            foreach(Project project in cV.Users.Projects)
            {
                
                if (project.ProjectID > highestID)
                {
                    highestID = project.ProjectID;
                    latestProject = project;
                }
                
            }
        }
        <div class="border shadow text-center" style="padding: 0.5rem;">
            <label style="font-weight: 600;">Titel: </label>
        <p>@latestProject.Titel</p>
            <label style="font-weight: 600;">Beskrivning: </label>
        <p>@latestProject.Description</p>
            <label style="font-weight: 600;">Startdatum: </label>
        <p>@latestProject.StartDate</p>
            <label style="font-weight: 600;">Slutdatum: </label>
        <p>@latestProject.EndDate</p>
            <a asp-controller="Project" asp-action="ProjectInfo" asp-route-projectID="@latestProject.ProjectID"><button class="btn btn-outline-primary">Visa projektet</button></a>
        </div>
    }

</div>




